.book-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding-top: 5px;
  width: 210px;
}

.book-card img {
  border-radius: 10px;
  height: 200px;
  margin-bottom: 10px;
  width: 150px;
}

.book-card p {
  margin: 3px 2px;
}